.buttons {
    display: flex;
    flex-direction: column;
}

.exercise {
    background: rgba(219, 109, 109, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 25px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
}