.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

input[type=file] {
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #27060e;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #130309;
}

.profile-image {
    display: block;
    border-radius: 50%;
    border: solid 5px #fff;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 250px;
    min-width: 250px;
}

.upload-button {
    margin-top: 20px;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.upload-button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.upload-button:focus {
    outline: none;
}

.upload-button.button-hero {
    background-image: linear-gradient(to right,
            #341113,
            #f15e64,
            #5c1718,
            #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.profile-title {
    font-size: 30px;
    padding: 20px 0 20px 0;
}