.profile {
    display: flex;
    flex-direction: column;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #27060e;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #130309;
}

.profile-image {
    display: block;
    max-width: 500px;
}

.upload-button {
    margin-right: 20px;
    max-width: 250px;
    border: none;
    background: #27060e;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.upload-button:hover {
    background: #130309;
}