* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #cfd2d6;
}

footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 20px 0 20px 0;
    background: rgba(219, 109, 109, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 0, 5px solid rgba(255, 255, 255, 0.34);
}

/*content*/
.footer {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer p {
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

/*social -media*/
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: dodgerblue;
}


.social-logo {
    max-width: 30px;
}

p {
    color: #fff;
}

.footer-message {
    padding: 10px;
    font-size: 20px;
    color: #fff;
}